header {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmeta-logo-container img {
    width: 20rem;
}
